[Desktop Entry]
Encoding=UTF-8
Name=Ubicoin Core
Comment=Ubicoin P2P Cryptocurrency
Comment[de]=Verbinde mit dem Ubicoin peer-to-peer Netzwerk
Comment[fr]=Ubicoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Ubicoin, eşten eşe kriptografik sanal para birimi
Exec=ubicoin-qt %u
Terminal=false
Type=Application
Icon=ubicoin128
MimeType=x-scheme-handler/ubicoin;
Categories=Office;Finance;
